--- 
layout: default 
---

<!-- Start Hero -->
<div class="hero" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat; background-size: cover;">
    <div class="hero-content">
        <div class="container-fluid">
            <div class="hero-content-inner">
                <h1>{{ site.hero.hero_title }}</h1>
                <p>{{ site.hero.hero_description }}</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 fm">
            <!--<h3><svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>Leave a Message</h3>
            <form netlify>
                <div class="form-field">
                    <input name="name" type="text" placeholder="Name" required>
                </div>
                <div class="form-field">
                    <input name="phone" type="tel" placeholder="Phone">
                </div>
                <div class="form-field">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="form-field">
                    <textarea name="comments" placeholder="Message" required></textarea>
                </div>
                <input type="submit" class="btn btn-default" value="Send">
            </form>-->
        </div>

    </div>
</div>
<!-- End Hero -->

<!-- Start 3 columns -->
<div class="three-shade-col">
    <div class="col-sm-4">
        <svg class="icon icon-envelope-o"><use xlink:href="#icon-envelope-o"></use></svg>
        <h3>Contact Us</h3>
        <ul>
            {% if site.contact.phone %}
            <li><strong>Phone:</strong> {{ site.contact.phone }}</li>{% endif %} {% if site.contact.emergency %}
            <li><strong>Emergency:</strong> {{ site.contact.emergency }}</li>{% endif %} {% if site.contact.email %}
            <li><strong>Email:</strong> {{ site.contact.email }}</li>{% endif %}
        </ul>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-clock-o"><use xlink:href="#icon-clock-o"></use></svg>
        <h3>Opening Hours</h3>
        <table>
            <tbody>
                <tr>
                    <td>Monday – Saturday</td>
                    <td>{{ site.monday_friday }}</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>{{ site.sunday }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-4">
        <svg class="icon icon-map-marker"><use xlink:href="#icon-map-marker"></use></svg>
        <h3>Location</h3>
        <p>
            {{ site.contact.address }}
        </p>
    </div>
</div>
<!-- End 3 columns -->

<!-- Start About -->
<!--<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">About Us</h2>

        <div class="row">
            <div class="col-sm-6">
                <h3>Welcome to DentistSmile</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nostrum ab vero temporibus magnam, delectus!</p>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-heart"><use xlink:href="#icon-heart"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-medkit"><use xlink:href="#icon-medkit"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <div class="boxed-icon">
                            <svg class="icon icon-star"><use xlink:href="#icon-star"></use></svg>
                        </div>
                    </div>
                    <div class="media-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam explicabo unde doloremque quo, fugit, nisi.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="img/about.jpg" alt="...">
            </div>
        </div>
    </div>
</div>-->
<!-- End About -->

<!-- Start Treatments -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Our Services</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
            <div class="col-sm-6 col-md-4">
                <div class="icon-box">
                    <i class="icon fas fa-{{ treatment.icon }}"></i>
                    <h4>{{ treatment.title }}</h4>
                    <p>{{ treatment.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->

<!-- Start Our team -->
<!--<div id="team" class="team">
    <h2 class="section-title">Our Team</h2>
    <div id="team-carousel">
        {% for member in site.data.team %}
        <div class="expandable-box">
            <div class="expandable-box-top">
                <img src="{{ site.baseurl }}/img/{{ member.image }}" alt="{{ member.name }}">
                <h4>{{ member.name }}</h4>
            </div>
            <div class="expandable-box-bottom">
                {{member.data}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>-->
<!-- End Our team -->

<!-- Start Testimonials -->
<!--<div id="testimonials" class="testimonials parallax" style="background-image: url('{{ site.baseurl }}/img/{{ site.testimonials.testimonials_img }}');">
    <div class="overlay-container">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div id="testimonial-carousel">
                {% for testimonial in site.data.testimonials %}
                <div class="testimonial-item">
                    <svg class="icon icon-quote-left"><use xlink:href="#icon-quote-left"></use></svg>
                    <blockquote>
                        <p>{{ testimonial.description }}</p>
                        <footer>
                            {{ testimonial.name }}
                            <small>{{ testimonial.title }}</small>
                        </footer>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>-->
<!-- End Testimonials -->

<!-- Start Gallery -->
<div id="gallery" class="gallery">

    <h2 class="section-title">Gallery</h2>

    {% for images in site.data.gallery %}
    <a href="{{ site.baseurl }}/img/gallery/large/{{ images.image_large }}" class="gallery-item expandable-box image-link">
        <div class="expandable-box-top">
            <img src="{{ site.baseurl }}/img/gallery/thumb/{{ images.image_thumb }}" {% if images.image_alt %}alt="{{ images.image_alt }}"{% endif %}>
        </div>
        <div class="expandable-box-bottom">
            <span>{% if images.image_alt %}{{ images.image_alt }}{% else %}<svg class="icon icon-chain"><use xlink:href="#icon-chain"></use></svg>{% endif %}</span>
        </div>
    </a>
    {% endfor %}

</div>
<!-- End Gallery -->

<!-- Start Map -->
<div id="location" class="map-responsive" >
<iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15656.86360050098!2d76.3240509!3d11.1716442!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x78b5c5a31b4c5821!2sCommunity%20Health%20Centre!5e0!3m2!1sen!2sin!4v1608744626757!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" ></iframe>
</div>

<!-- End Map -->